.menu{
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    right: -1600px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 2s ease;

    &.active {
        right: 0;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 40px;
        color: #735F32;
        

        li {
            margin-bottom: 25px;

            a{
                font-size: inherit;
                text-decoration: none;
                color:inherit;
                margin-bottom: 100px;
                
            }
            &:hover {
                color: black;
            }
        }
    }
    
}