@import "../../global.scss";

.skills {
    width: 100vw;
    height: 100vh;
    // background-color: #6F1AB6;
    background-color: #464E2E;
    // color: #630606;
    color: #FFA1CF;
    // color: #541212;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;

    .skills-text {
        font-size: 25px;
        line-height: 35px;
        letter-spacing: 0.7px;
        padding: 0px 25px;
        width: 70%;
        overflow: hidden;

        @include mobile {
            font-size: 20px;
            line-height: 25px;

        }
    } 
}
