.contact {
    background-color: whitesmoke;
    // background-color: #98BAE7;
    color: #3C2317;

    .contact-text {
        display: flex;
        flex-direction: column;
        // align-items: center;
        // justify-content: center;
        padding-top: 40px;

        ul {
            margin: 0;
            padding-left: 40;
            list-style: none;
            font-size: 35px;
            color: #735F32;
            // text-align: center;
            
    
            li {
                margin-bottom: 5px;
    
                a{
                    font-size: inherit;
                    text-decoration: none;
                    color:inherit;
                }
                &:hover {
                    color: black;
                }

                a.contact-logo {
                    margin-bottom: 10px;

                    &:hover {
                        color: #735F32;
                    }
                
                }
            }
        }
        
    }

    .contact-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
    }
}

