@import "../../global.scss";

.footer {
    background-color: whitesmoke;
    // background-color: #735F32;
    // background-color: #3C2317;
    color:#98BAE7;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
        width: 100vw;
        height: 20px;
        padding: 30px 0px;
        padding-top: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    
        .footer-text {
          color: #735F32;
          font-size: 14px;
          font-weight: 300;
          letter-spacing: 0.7px;
    
          @include mobile {
            width: 70%;
            height: 40px;
            text-align: center;
          }
        }
      }
}
