.footer {
    background-color: whitesmoke;
    // background-color: #735F32;
    // background-color: #3C2317;
    color:#98BAE7;

    .footer-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 40px;

        
        
    }

    .footer-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
    }
}
